pipeline/Executive_pipeline_FnP_Hotel_SharePoint_SQL_STG_web_activity.json
{
	"name": "Executive_pipeline_FnP_Hotel_SharePoint_SQL_STG_web_activity",
	"properties": {
		"description": "Executive_pipeline_FnP_Hotel_SharePoint_SQL_STG_web_activity",
		"activities": [
			{
				"name": "Web_activity_Get the access token from SPO",
				"description": "Web_activity_Get the access token from SPO",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://accounts.accesscontrol.windows.net/', pipeline().parameters.item.tenantid,'/tokens/OAuth/2')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "SinoVMSHIR",
						"type": "IntegrationRuntimeReference"
					},
					"method": "POST",
					"headers": {
						"Content-Type": {
							"value": "application/x-www-form-urlencoded",
							"type": "Expression"
						}
					},
					"body": {
						"value": "@concat('grant_type=client_credentials&client_id=', pipeline().parameters.item.serviceid, '@', pipeline().parameters.item.tenantid, '&client_secret=', pipeline().parameters.item.tenantkey, '&resource=00000003-0000-0ff1-ce00-000000000000/', 'sino365', '.sharepoint.com@', pipeline().parameters.item.tenantid)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Web_activity_Get the list of files from SPO folder",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Web_activity_Get the access token from SPO",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat(pipeline().parameters.item.sharepointsite, '/_api/web/GetFolderByServerRelativeUrl(''', pipeline().parameters.item.siterelativeurl, pipeline().parameters.item.sharepointessentialfilepath, '/', pipeline().parameters.item.sharepointprimaryfilepath, '''', ')/Files')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "SinoVMSHIR",
						"type": "IntegrationRuntimeReference"
					},
					"method": "GET",
					"headers": {
						"Authorization": {
							"value": "@{concat('Bearer ', activity('Web_activity_Get the access token from SPO').output.access_token)}",
							"type": "Expression"
						},
						"Accept": {
							"value": "application/json",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Set RunDatetime",
				"description": "Set RunDatetime",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web_activity_Get the list of files from SPO folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "RunDate",
					"value": {
						"value": "@addDays(pipeline().parameters.date, -96600)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Pipeline_Run_ID",
				"description": "Set Pipeline_Run_ID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web_activity_Get the list of files from SPO folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Pipeline_Run_ID",
					"value": {
						"value": "@pipeline().RunId",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Pipeline Trigger ID",
				"description": "Set Pipeline Trigger ID",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web_activity_Get the list of files from SPO folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Pipeline_Trigger_ID",
					"value": {
						"value": "@pipeline().TriggerId",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set Pipeline Trigger Run Time",
				"description": "Set Pipeline Trigger Run Time",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Web_activity_Get the list of files from SPO folder",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "Pipeline_Trigger_Run_Time",
					"value": {
						"value": "@convertFromUtc(pipeline().TriggerTime,'China Standard Time', 'yyyy-MM-dd HH:mm:ss:fff')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach_Looping_SharePoint",
				"description": "ForEach_Looping_SharePoint",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set RunDatetime",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Pipeline_Run_ID",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Pipeline Trigger ID",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Pipeline Trigger Run Time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Web_activity_Get the list of files from SPO folder').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "If Condition1",
							"type": "IfCondition",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@startswith(item().Name, pipeline().parameters.item.filename)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Sharepoint_DLLand",
										"description": "Sharepoint_DLLand",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Web_activity_Get the list of files from SPO folder_2",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "DelimitedTextSource",
												"storeSettings": {
													"type": "HttpReadSettings",
													"requestMethod": "GET",
													"additionalHeaders": {
														"value": "@{concat('Authorization: Bearer ',activity('Web_activity_Get the access token from SPO_2').output.access_token)}",
														"type": "Expression"
													},
													"requestTimeout": ""
												},
												"formatSettings": {
													"type": "DelimitedTextReadSettings"
												}
											},
											"sink": {
												"type": "DelimitedTextSink",
												"storeSettings": {
													"type": "AzureBlobFSWriteSettings"
												},
												"formatSettings": {
													"type": "DelimitedTextWriteSettings",
													"quoteAllText": true,
													"fileExtension": ".txt"
												}
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "FnP_Dashboard_Staging_DelimitedText",
												"type": "DatasetReference",
												"parameters": {
													"sharepointsite": {
														"value": "pipeline().parameters.item.sharepointsite",
														"type": "Expression"
													},
													"siterelativeurl": {
														"value": "pipeline().parameters.item.siterelativeurl",
														"type": "Expression"
													},
													"sharepointessentialfilepath": {
														"value": "pipeline().parameters.item.sharepointessentialfilepath",
														"type": "Expression"
													},
													"sharepointprimaryfilepath": {
														"value": "pipeline().parameters.item.sharepointprimaryfilepath",
														"type": "Expression"
													},
													"sharepointprimaryfilewithextension": {
														"value": "@item().Name",
														"type": "Expression"
													},
													"sharepointsourcefilepath": {
														"value": "pipeline().parameters.item.sharepointsourcefilepath",
														"type": "Expression"
													}
												}
											}
										],
										"outputs": [
											{
												"referenceName": "sinostoragprod_data_lake_DelimitedText",
												"type": "DatasetReference",
												"parameters": {
													"DLLandFileName": {
														"value": "@item().Name",
														"type": "Expression"
													},
													"DLLandFilePath": {
														"value": "@concat('FnP', '/', 'FnP_Hotel_SharePoint_Site', '/', 'landing', '/', pipeline().parameters.item.sharepointessentialfilepath, '/', pipeline().parameters.item.filename, '/', formatDateTime(variables('RunDate'), 'yyyyMMdd_HHmmss'))",
														"type": "Expression"
													},
													"DLLandFileContainer": {
														"value": "@concat('sinodashboardsynapsestorageprod')",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "Web1_copy1",
										"type": "WebActivity",
										"dependsOn": [
											{
												"activity": "Web_activity_Get the list of files from SPO folder_2",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"url": {
												"value": "https://prod-28.southeastasia.logic.azure.com:443/workflows/33405adbb6974168a5ab94adf9f91588/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=AC82xtsLUId7xMfqJrvjMtrEsdEe-UXoi4nS-0wob0Q",
												"type": "Expression"
											},
											"connectVia": {
												"referenceName": "SinoVMSHIR",
												"type": "IntegrationRuntimeReference"
											},
											"method": "POST",
											"body": {
												"value": "{\n \"title\":\"FnP_Hotel_2\",\n\"message\":\"@{concat('https://sino365.sharepoint.com/sites/FnPDashboardStaging/_api/web/GetFileByServerRelativeUrl (''', pipeline().parameters.item.siterelativeurl, pipeline().parameters.item.sharepointessentialfilepath, '/', pipeline().parameters.item.sharepointprimaryfilepath, '/', item().Name, ''')/$value')}\",\n\"message1\":\"@{concat('https://sino365.sharepoint.com/sites/FnPDashboardStaging/_api/web/GetFileByServerRelativeUrl (''', concat(pipeline().parameters.item.siterelativeurl, pipeline().parameters.item.sharepointessentialfilepath, '/', pipeline().parameters.item.sharepointprimaryfilepath), ''')/Files(''', concat(item().Name), ''')/$value')}\",\n \"color\":\"Green\",\n \"group\":\"Global\",\n \"dataFactoryName\":\"@{pipeline().DataFactory}\",\n \"pipelineName\":\"@{pipeline().Pipeline}\",\n \"pipelineRunId\":\"@{pipeline().RunId}\",\n \"pipelineTriggerId\":\"@{pipeline().TriggerId}\",\n \"pipelineTriggerName\":\"@{pipeline().TriggerName}\",\n \"pipelineTriggerTime\":\"@{convertFromUtc(pipeline().TriggerTime,'China Standard Time', 'yyyy-MM-dd HH:mm:ss:fff')}\",\n \"time\":\"@{convertFromUtc(utcnow(),'China Standard Time', 'yyyy-MM-dd HH:mm:ss:fff')}\"\n}\n\n",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Web_activity_Get the access token from SPO_2",
										"description": "Web_activity_Get the access token from SPO",
										"type": "WebActivity",
										"dependsOn": [],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"url": {
												"value": "@concat('https://accounts.accesscontrol.windows.net/', pipeline().parameters.item.tenantid,'/tokens/OAuth/2')",
												"type": "Expression"
											},
											"connectVia": {
												"referenceName": "SinoVMSHIR",
												"type": "IntegrationRuntimeReference"
											},
											"method": "POST",
											"headers": {
												"Content-Type": {
													"value": "application/x-www-form-urlencoded",
													"type": "Expression"
												}
											},
											"body": {
												"value": "@concat('grant_type=client_credentials&client_id=', pipeline().parameters.item.serviceid, '@', pipeline().parameters.item.tenantid, '&client_secret=', pipeline().parameters.item.tenantkey, '&resource=00000003-0000-0ff1-ce00-000000000000/', 'sino365', '.sharepoint.com@', pipeline().parameters.item.tenantid)",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Web_activity_Get the list of files from SPO folder_2",
										"type": "WebActivity",
										"dependsOn": [
											{
												"activity": "Web_activity_Get the access token from SPO_2",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"url": {
												"value": "@concat(pipeline().parameters.item.sharepointsite, '/_api/web/GetFolderByServerRelativeUrl(''', pipeline().parameters.item.siterelativeurl, pipeline().parameters.item.sharepointessentialfilepath, '/', pipeline().parameters.item.sharepointprimaryfilepath, '''', ')/Files')",
												"type": "Expression"
											},
											"connectVia": {
												"referenceName": "SinoVMSHIR",
												"type": "IntegrationRuntimeReference"
											},
											"method": "GET",
											"headers": {
												"Authorization": {
													"value": "@{concat('Bearer ', activity('Web_activity_Get the access token from SPO_2').output.access_token)}",
													"type": "Expression"
												},
												"Accept": {
													"value": "application/json",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "If Condition email 1",
				"description": "If Condition email 1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set RunDatetime",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Pipeline_Run_ID",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Pipeline Trigger ID",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set Pipeline Trigger Run Time",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@not(empty(activity('Web_activity_Get the list of files from SPO folder').output.value[0].Name))",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Web1",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "https://prod-28.southeastasia.logic.azure.com:443/workflows/33405adbb6974168a5ab94adf9f91588/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=AC82xtsLUId7xMfqJrvjMtrEsdEe-UXoi4nS-0wob0Q",
									"type": "Expression"
								},
								"connectVia": {
									"referenceName": "SinoVMSHIR",
									"type": "IntegrationRuntimeReference"
								},
								"method": "POST",
								"body": {
									"value": "{\n \"title\":\"FnP_Hotel_1\",\n \"message\":\"@{activity('Web_activity_Get the list of files from SPO folder').output.value[0].Name}\",\n \"color\":\"Green\",\n \"group\":\"Global\",\n \"dataFactoryName\":\"@{pipeline().DataFactory}\",\n \"pipelineName\":\"@{pipeline().Pipeline}\",\n \"pipelineRunId\":\"@{pipeline().RunId}\",\n \"pipelineTriggerId\":\"@{pipeline().TriggerId}\",\n \"pipelineTriggerName\":\"@{pipeline().TriggerName}\",\n \"pipelineTriggerTime\":\"@{convertFromUtc(pipeline().TriggerTime,'China Standard Time', 'yyyy-MM-dd HH:mm:ss:fff')}\",\n \"time\":\"@{convertFromUtc(utcnow(),'China Standard Time', 'yyyy-MM-dd HH:mm:ss:fff')}\"\n}",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"item": {
				"type": "object"
			},
			"date": {
				"type": "string"
			},
			"current_time": {
				"type": "string"
			},
			"web_activity": {
				"type": "object"
			}
		},
		"variables": {
			"RunDate": {
				"type": "String"
			},
			"Pipeline_Run_ID": {
				"type": "String"
			},
			"Pipeline_Trigger_ID": {
				"type": "String"
			},
			"Pipeline_Trigger_Run_Time": {
				"type": "String"
			},
			"assignjson": {
				"type": "String"
			}
		},
		"folder": {
			"name": "FnP/FnP_Hotel"
		},
		"annotations": [],
		"lastPublishTime": "2021-12-22T01:20:39Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}